@font-face {
    font-family:OpenSans;
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family:DroidSerif;
    src: url(DroidSerif-Regular.ttf);
}
@font-face {
    font-family:Quicksand;
    src: url(Quicksand_Book.otf);
}
body{
    margin: 0;
    background-color: #e1b87f;
    font-family: OpenSans;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
#banner {
    position: absolute;
    top: 0;
    left: 0;
}
#banner img {
    width:100%; 
}
#wrapper {
    position: relative;
    margin: 0;
}
#main{
    max-width: 1000px;
    margin: 0 auto;
    background:rgba(255,255,255,0.5);
    border: 0px solid #000000;
    height:100vh;
}
#title{
    font-family: Quicksand;
}
div.body{
    width: 100%;
}
#navleft{
    float: left;
    width: 50%;
    background:rgba(0,0,0,0.5);
}
#navright{
    width: 50%;
    float: left;
    background:rgba(0,0,0,0.5);
}
p{
    padding: 10px;
    color: #FFFFFF;
}
ul, li{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
h1{
    font-size: 300%;
    color: #FFFFFF;
}
